Django==1.4.3
PIL==1.1.7
Shapely==1.2.16
-e git://github.com/geonition/auth_page.git@ca759761f15c8cc39215efa74eea5268f33e1bed#egg=auth_page-dev
-e git://github.com/geonition/base_page.git@70ddf1d667c66e6b77c7960d3f2a2f76e16f3dd6#egg=base_page-dev
beautifulsoup4==4.1.3
-e git://github.com/geonition/dashboard.git@49d7125cd61ff54568fe9f3c0a2f8fcc0f16b648#egg=dashboard-dev
django-modeltranslation==0.4.1
-e git://github.com/geonition/geoforms.git@99466a521d792788b8f02ac7569a6268eef3d7a8#egg=geoforms-dev
-e git://github.com/geonition/django_geojson_rest.git@5803cee0781f7d2e86e38049faef61845532c7eb#egg=geojson_rest-dev
-e git://github.com/geonition/django_geonition_client.git@fb5d4573a5be2ac5be8e572357619ee845e3bcc1#egg=geonition_client-dev
-e git://github.com/geonition/django_geonition_utils.git@e4669b33cff12a0de4df988cad403f419d0e6229#egg=geonition_utils-dev
-e git://github.com/geonition/django_auth.git@dd3ecb3f81554b934cd0964dde848c8140e0e14c#egg=gntauth-dev
-e git://github.com/geonition/django_images.git@7a045a05269553b4e382bf76aac5a5473eb7c9d9#egg=gntimages-dev
jsmin==2.0.2
lxml==3.1beta1
-e git://github.com/geonition/geodjango-map-layers@f4fc687b007130f88a3f0a8c67a75b8873e502e6#egg=maps-dev
-e git://github.com/geonition/django_opensocial_people@4044428722661500652d750d66ca84abcbfb9a25#egg=opensocial_people-dev
-e git://github.com/geonition/planproposal@9d3e1e03cbcffd14fa4a785e0a22765d181afdc6#egg=plan_proposals-dev
psycopg2==2.4.6
pymongo==2.4.1
