django
-e git+git://github.com/kmmbvnr/django-jenkins.git#egg=django-jenkins
-e git+ssh://git@github.com/geonition/auth_page.git@master#egg=auth-page
-e git+ssh://git@github.com/geonition/base_page.git@master#egg=base-page
-e git+ssh://git@github.com/geonition/dashboard.git@master#egg=dashboard
-e git+ssh://git@github.com/geonition/geoforms.git@master#egg=geoforms
-e git+ssh://git@github.com/geonition/django_geojson_rest.git@master#egg=geojson_rest
-e git+ssh://git@github.com/geonition/django_geonition_client.git@master#egg=geonition-client
-e git+ssh://git@github.com/geonition/django_geonition_utils.git@master#egg=geonition-utils
-e git+ssh://git@github.com/geonition/django_auth.git@master#egg=gntauth
-e git+ssh://git@github.com/geonition/django_images.git@master#egg=gntimages
-e git+ssh://git@github.com/geonition/geodjango-map-layers@master#egg=maps
-e git+ssh://git@github.com/geonition/django_opensocial_people@master#egg=opensocial-people
-e git+ssh://git@github.com/geonition/planproposal@master#egg=plan-proposals

