Django==1.4.5
PIL==1.1.7
Shapely==1.2.16
-e git://github.com/geonition/auth_page.git@329de84b92d14ee50318a1ed7076c4ff6bd2b1e3#egg=auth_page-dev
-e git://github.com/geonition/base_page.git@cedbd6460c4cdae4d0ac530ffe3d1d2a08a21851#egg=base_page-dev
beautifulsoup4==4.1.3
-e git://github.com/geonition/dashboard.git@11f08a653862a044970b0c25b72058a905f251f7#egg=dashboard-dev
django-modeltranslation==0.5
-e git://github.com/geonition/geoforms.git@628c716e95727d9ccb52c1f940cabfa8cb4cec0c#egg=geoforms-dev
-e git://github.com/geonition/django_geojson_rest.git@52e43fbdec0cb5ee7689b7fe90747950c766e000#egg=geojson_rest-dev
-e git://github.com/geonition/django_geonition_client.git@fb5d4573a5be2ac5be8e572357619ee845e3bcc1#egg=geonition_client-dev
-e git://github.com/geonition/django_geonition_utils.git@e4669b33cff12a0de4df988cad403f419d0e6229#egg=geonition_utils-dev
-e git://github.com/geonition/django_auth.git@dd3ecb3f81554b934cd0964dde848c8140e0e14c#egg=gntauth-dev
-e git://github.com/geonition/django_images.git@7a045a05269553b4e382bf76aac5a5473eb7c9d9#egg=gntimages-dev
jsmin==2.0.2
lxml==3.1beta1
-e git://github.com/geonition/geodjango-map-layers@a1f9960f10533ff4c40ba73e8a811085d84a2938#egg=maps-dev
-e git://github.com/geonition/django_opensocial_people@4044428722661500652d750d66ca84abcbfb9a25#egg=opensocial_people-dev
-e git://github.com/geonition/planproposal@34103ebc55286bd80acb30a49c2f6c0bd6bc4a65#egg=plan_proposals-dev
psycopg2==2.4.6
pymongo==2.4.1
