Django==1.4.3
PIL==1.1.7
Shapely==1.2.16
-e git://github.com/geonition/auth_page.git@ca759761f15c8cc39215efa74eea5268f33e1bed#egg=auth_page-dev
-e git://github.com/geonition/base_page.git@d401bc7ab1609928f2068628d37f83d8ee2f2888#egg=base_page-dev
beautifulsoup4==4.1.3
-e git://github.com/geonition/dashboard.git@76133bf467d4e7d899aebe2b032f1ed6955f96da#egg=dashboard-dev
django-modeltranslation==0.4.1
-e git://github.com/geonition/geoforms.git@67973dd931a705e56e43e98182176b8500aae828#egg=geoforms-dev
-e git://github.com/geonition/django_geojson_rest.git@e0e5b161dacd6223af669ea8cc237804042c0838#egg=geojson_rest-dev
-e git://github.com/geonition/django_geonition_client.git@fb5d4573a5be2ac5be8e572357619ee845e3bcc1#egg=geonition_client-dev
-e git://github.com/geonition/django_geonition_utils.git@e4669b33cff12a0de4df988cad403f419d0e6229#egg=geonition_utils-dev
-e git://github.com/geonition/django_auth.git@dd3ecb3f81554b934cd0964dde848c8140e0e14c#egg=gntauth-dev
-e git://github.com/geonition/django_images.git@7a045a05269553b4e382bf76aac5a5473eb7c9d9#egg=gntimages-dev
jsmin==2.0.2
lxml==3.1beta1
-e git://github.com/geonition/geodjango-map-layers@66ebea36118f11a1279a44065ad04c7e5c61123c#egg=maps-dev
-e git://github.com/geonition/django_opensocial_people@4044428722661500652d750d66ca84abcbfb9a25#egg=opensocial_people-dev
-e git://github.com/geonition/planproposal@d9a1e249324ed47d5f839b98d6cd7af35f07b952#egg=plan_proposals-dev
psycopg2==2.4.6
pymongo==2.4.1
